@use "../colors" as c;
@use "../texts" as t;
@use "../customFormFields";

@import '../libraries/include-media';

@include customFormFields.input;

.container {
  text-align: center;
  margin-top: 10rem;
  h1 {
    font-weight: 300;
    font-size: 40px;
  }
}
