@use "../colors" as c;
@use "../texts" as t;
@use "../customFormFields";

@import '../libraries/include-media';

@include customFormFields.input;

.introductionSection {
  margin-top: 15rem;

  .democratizingData {
    width: 40%;

    .titleContainer {
      width: 80%;
    }

    p {
      @include t.normalText();
    }

    // Container for the get started button and email input field
    .getStartedContainer {
      display: flex;
      justify-content: flex-start;

      // Styling for the "Your Email" input
      label {
        margin-right: 1.5rem;
        flex: 1;
        max-width: 300px;
      }

      // The get started button styling
      button {
        display: inline-block;
        background-color: c.$clr-dark-orange;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        padding: 10px 25px;
        border: none;
        border-radius: 3px;
        box-shadow: c.$clr-shadow 0px 0px 4px;
        transition: background-color 0.2s;

        margin: 20px 0 3px;

        &:hover {
          background-color: darken(c.$clr-dark-orange, 2%);
          cursor: pointer;
        }
      }
    }
  }

  .tabletContainer {
    position: absolute;
    top: 250px;
    right: 0px;
    width: 40%;
    max-width: 700px;

    @include media('>2200px') {
      margin-left: 50rem;
      right: unset;
    }
  }

  // Responsive media queries for introduction section
  @include media('>630px', '<=1400px') {
    .democratizingData {
      width: 50%;

      .titleContainer {
        width: 70%;
      }
    }
  }
  @include media('<=630px') {
    margin-top: 9rem;

    .democratizingData {
      width: 100%;
      padding: 0 1rem;
    }

    .tabletContainer {
      display: none;
    }
  }
}

.ourSolutionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12rem 0 5rem;

  .discover {
    color: c.$clr-dark-orange;
    font-weight: 700;
  }

  h1 {
    margin-top: 0;
  }

  .description {
    @include t.normalText(black);
    text-align: center;
    margin-bottom: 3rem;
  }

  .solutionsContainer {
    width: 100%;
    height: 500px;
    box-shadow: c.$clr-shadow 0px 0px 7px;
    border-radius: 15px;
    background-color: white;
    margin: 2rem 0 5rem;
  }

  @include media('<=630px') {
    margin-top: 5rem;
  }
}

// Styling for the contact section of the homepage
.contactSection {
  display: flex; // A flexbox for the contact info and the email form.
  justify-content: space-around;

  article {
    min-width: 440px;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 10px;
    box-shadow: white 0 0 5px;

    .contactInfoContainer {
      display: flex;
      justify-content: flex-start;
      margin: 2rem 0 1rem 1rem;

      .contactIcon {
        background-color: white;
        box-shadow: c.$clr-shadow 0 0 5px;
        border-radius: 20px;
        padding: 13px;
        display: inline-flex;
        margin-right: 2rem;

        &.emailIcon {
          padding: 15px;
        }
      }

      .textContainer {
        display: flex;
        flex-direction: column;

        h4 {
          margin: 5px 0 0.5rem;
        }

        p {
          color: c.$clr-grey-text;
          font-size: 20px;
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }

  // For small screens, move the contact info and form below each other (one column)
  // For even smaller screens, make the font-size smaller..
  @include media('<=900px') {
    flex-direction: column;
    align-items: center;

    article {
      margin-bottom: 2rem;
      min-width: unset;
      padding: 1rem;
    }
  }
  @include media('<=500px') {
    article .contactInfoContainer {
      .contactIcon {
        margin-right: 1rem;
      }

      .textContainer p {
        font-size: 16px;
      }
    }
  }
}

.usecasesSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0 5rem;

  article {
    text-align: center;

    margin-bottom: 3rem;

    p {
      @include t.normalText(black);
    }
  }
}
