// This fire contains styling for the sd-software page
@import '../libraries/include-media';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  // margin-top: '5rem';
  color: grey;

  section {
    padding: 1rem 3rem;

    p {
      // font-size: 15px;
      font-weight: 500;
    }
  }

  .interested {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  ul li {
    h4 {
      margin-bottom: 7px;
    }
    p {
      margin-top: 0px;
      font-size: 14px;
    }

    margin: 2rem 0;
  }

  h3 {
    color: #535353;
  }
}

.title {
  text-align: center;
  color: grey;
}

// MEDIA QUERIES

@include media('<=900px') {
  .container {
    grid-template-rows: auto;
    grid-template-columns: none;

    section {
      padding: 1rem 1rem;
      @include media('<=500px') {
        padding: 1rem 0;
      }
    }

    ul {
      padding-left: 0;
    }
  }
}
