@use "../../styles/colors" as c;
@use "../../styles/spacings";
@import '../../styles/libraries/include-media';

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // Takes care of padding around the main content
  .contentWrap {
    width: 100%;
    max-width: 88rem;
    padding: 3rem 3rem 3rem;
    margin: 0 auto;
    flex: 1;
  }
}
