@use "../../styles/colors" as c;
@use "../../styles/texts" as t;
@import '../../styles/libraries/include-media';

.container {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: c.$clr-shadow 0 0 5px;

  .buttonsContainer {
    display: flex;
    position: relative;
    z-index: 1;
    box-shadow: inset c.$clr-shadow 0 -5px 5px -5px;

    .selectorButtonBox {
      flex: 1 0 auto;
      font-size: 20px;
      font-weight: 700;
      color: c.$clr-disabled-grey-text;
      transition: 0.25s ease;
      cursor: pointer;
      position: relative;

      @include media('<=900px') {
        font-size: 14px;
      }

      p {
        text-align: center;
      }

      &:not(.selected):hover {
        color: darken(c.$clr-disabled-grey-text, 15%);
      }
    }

    .selectorButtonBox.selected {
      color: c.$clr-dark-orange;
      text-decoration: underline;
      //box-shadow: #d7d7d7 0 0 5px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: unset;
      z-index: 2;
      background-color: white;
    }
    .selectorButtonBox.selected.rightShadow {
      box-shadow: c.$clr-shadow 5px 0 5px -5px;
    }
    .selectorButtonBox.selected.leftShadow {
      box-shadow: c.$clr-shadow -5px 0 5px -5px;
    }
    .selectorButtonBox.selected.leftRightShadow {
      box-shadow: c.$clr-shadow 5px 0 5px -5px, c.$clr-shadow -5px 0 5px -5px;
    }
  }

  .solutionContentContainer {
    p {
      @include t.normalText();
    }

    h2 {
      color: c.$clr-footer-title;
    }

    background-color: white;
    position: relative;
    z-index: 3;
    padding: 3rem 7%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    .solutionContentImageCenter {
      width: 80%;
      margin: 2rem auto 1rem;
      display: block;
    }
    .solutionContentImageRight {
      margin: 0.5rem 0;
      float: right;
      max-width: 15%;
    }
  }
}
