$clr-footer-bg: #eaeaea;
$clr-footer-title: #424242;
$clr-footer-link: #5b5b5b;

$clr-shadow: #dbdbdb;

$clr-grey-text: #898989;
$clr-darkgrey-text: #6c6c6c;

$clr-disabled-grey-text: #d1d1d1;
$clr-extra-dark-grey: rgb(65, 65, 65);

$clr-dark-orange: #f0750c;
$clr-soft-red: #ff4343;
