@use './colors' as c;

/** The normal slightly bold grey text. */
@mixin normalText($color: c.$clr-grey-text) {
  color: $color;
  font-weight: 600;
  line-height: 1.6em;
  font-size: 16px;

  span.highlight {
    color: darken($color, 20%);
  }
}

// /** The big title text styling. */
// @mixin bigTitleText {
//   margin-bottom: 2rem;
//   font-size: 40px;
//   font-weight: 700;
//   color: black;
// }
