@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --translateYSkyBlue: -18rem;
  --translateYBlue: 10rem 11rem;
}

@media (min-width: 768px) {
  :root {
    --translateYSkyBlue: -10rem;
    --translateYBlue: 10rem 16rem;
  }
}

select {
  background-color: #2b2a33;
}

.backgroundColorShadowSkyBlue::after {
  position: absolute;
  content: "";
  width: 750px;
  height: 750px;
  border-radius: 300px;
  filter: blur(100px);
  transform: translateX(-80%) translateY(var(--translateYSkyBlue)) rotate(40deg);
  background: radial-gradient(rgba(2, 132, 199, 0.7) 50px, black 50%); /* rgba(196, 55, 0, 0.74)  */
}
.backgroundColorShadowBlue::before {
  box-shadow: var(--translateYBlue) 329px 180px rgba(17, 148, 255, 0.5); /* rgba(221, 11, 0, 0.49) */
  position: absolute;
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 9999px;
}
